.JiraRecordSlide {
  background-color: #ECF0F1;
}

.JiraRecordSlide-content {
  padding: 60px;
  color: white;
  font-size: 22px;
}

.JiraRecordSlide-title {
  margin-bottom: 40px;
  font-size: 40px;
}