.JiraRecordSlide {
  background-color: #ECF0F1;
}

.JiraRecordSlide-content {
  padding: 60px;
  color: white;
  font-size: 22px;
}

.JiraRecordSlide-title {
  color: #95A5A6;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 300;
}