.StandUpSlide {
  background-color: #2C3E50;
}

.StandUpSlide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
  color: white;
  font-size: 22px;
  background-image: url(/assets/standUp.svg);
  background-size: cover;
}

.StandUpSlide-text {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 35px;
  color: #34495E;
}