.GitlabMergeRequestsSlide {
  background-color: #ECF0F1;
}

.GitlabMergeRequestsSlide-content {
  padding: 20px;
  font-size: 22px;
}

.GitlabMergeRequestsSlide-title {
  font-size: 45px;
}

.GitlabMergeRequestsSlide-logo {
  height: 70px;
}

.GitlabMergeRequestsSlide-items {
  margin: 0 80px;
  min-height: 710px;
}

.GitlabMergeRequestsSlide-items> * {
  margin: 40px 0;
}