.JiraRecordListSlide {
  background-color: #ECF0F1;
}

.JiraRecordListSlide-content {
  padding: 20px;
  color: white;
  font-size: 22px;
}

.JiraRecordListSlide-columns {
  display: flex;
}

.JiraRecordListSlide-column {
  margin: 0 80px;
  min-height: 900px;
}

.JiraRecordListSlide-column > * {
  margin: 40px 0;
}