.CountDownSlide {
  background-color: #34495E;
}

.CountDownSlide-lunch {
  background-color: #16A085;
}

.CountDownSlide-content {
  padding: 20px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.CountDownSlide-title {
  font-weight: 300;
}

.CountDownSlide-event {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.CountDownSlide-separator {
  border-bottom: 1px solid white;
  margin: 5px 60px 15px;
  opacity: 0.5;
}

.CountDownSlide-time {
  font-size: 40px;
}

.CountDownSlide-time span {
  margin: 10px;
  opacity: 0.5;
}