.JiraRecord {
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #2c3e50;
    width: 600px;
    padding: 15px;
    border-left-width: 6px;
    border-left-style: solid;
}

.JiraRecord-bug {
    border-left-color: #e74c3c;
}
.JiraRecord-bug .JiraRecord-type {
    background-color: #e74c3c;
}

.JiraRecord-task {
    border-left-color: #3498db;
}
.JiraRecord-task .JiraRecord-type {
    background-color: #3498db;
}

.JiraRecord-story {
    border-left-color: #1abc9c;
}
.JiraRecord-story .JiraRecord-type {
    background-color: #1abc9c;
}

.JiraRecord-epic {
    border-left-color: #8e44ad;
}
.JiraRecord-epic .JiraRecord-type {
    background-color: #8e44ad;
}

.JiraRecord-main {
    flex: 1;
}

.JiraRecord-key {
    color: #2980b9;
    margin-bottom: 8px;
}

.JiraRecord-type-details {
    padding-right: 15px;
}

.JiraRecord-summary {
    font-weight: 300;
    min-height: 100px;
    font-size: 25px;
}

.JiraRecord-type {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

.JiraRecord-type > i {
    font-size: 18px;
}

.JiraRecord-priority {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}
.JiraRecord-priority-I {
    background-color: #95a5a6;
}
.JiraRecord-priority-L {
    background-color: #1abc9c;
}
.JiraRecord-priority-M {
    background-color: #3498db;
}
.JiraRecord-priority-H {
    background-color: #e67e22;
}
.JiraRecord-priority-C {
    background-color: #c0392b;
}

.JiraRecord-status {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #95a5a6;
    color: white;
    letter-spacing: 0.5px;
}
.JiraRecord-status-indeterminate {
    background-color: #f39c12;
}
.JiraRecord-status-done {
    background-color: #1abc9c;
}

.JiraRecord-other-details {
    margin-left: 15px;
}

.JiraRecord-avatar {
    border-radius: 4px;
    height: 60px;
    width: 60px;
}
